<form hx-post="/lab/shared-wallet/form" hx-target-*=".errors" hx-on::after-request="this.reset()">
    <input type="hidden" name="action" value="FundContract">
    <h2>Fund contract</h2>
    <label>Amount:</label>
    <div class="grid grid-cols-3 gap-4">
        <div class="col-span-2">
            <input type="number" name="amount" value="100"/>
        </div>
        <div class="p-0">
            <div class="htmx-indicator"><span></span></div>
            <button type="submit">Fund</button>
        </div>
    </div>
</form>
<div class="divider"></div>

<form hx-post="/lab/shared-wallet/form" hx-target-*=".errors" hx-on::after-request="this.reset()">
    <input type="hidden" name="action" value="SetAllowance">
    <h2>Set allowance</h2>
    <label>Address:</label>
    <div class="grid grid-cols-3 gap-4">
        <div class="col-span-2">
            <select name="address">
            {% for adr in other_account_addresses %}
                <option value="{{adr}}">{{adr}}</option>
            {% endfor %}
            </select>
        </div>
    </div>
    <label>Amount:</label>
    <div class="grid grid-cols-3 gap-4">
        <div class="col-span-2">
            <input type="number" name="amount" value="100"/>
        </div>
        <div class="p-0">
            <div class="htmx-indicator"><span></span></div>
            <button type="submit">Set</button>
        </div>
    </div>
</form>
<div class="divider"></div>

<form hx-post="/lab/shared-wallet/form" hx-target-*=".errors" hx-on::after-request="this.reset()">
    <input type="hidden" name="action" value="DenySending">
    <h2>Deny sending</h2>
    <label>Address:</label>
    <div class="grid grid-cols-3 gap-4">
        <div class="col-span-2">
            <select name="address">
            {% for adr in other_account_addresses %}
                <option value="{{adr}}">{{adr}}</option>
            {% endfor %}
            </select>
        </div>
        <div class="p-0">
            <div class="htmx-indicator"><span></span></div>
            <button type="submit">Deny</button>
        </div>
    </div>
</form>
<div class="divider"></div>

<form hx-post="/lab/shared-wallet/form" hx-target-*=".errors" hx-on::after-request="this.reset()">
    <input type="hidden" name="action" value="TransferToAddress">
    <h2>Transfer to address</h2>
    <label>Address:</label>
    <div class="grid grid-cols-3 gap-4">
        <div class="col-span-2">
            <select name="address">
            {% for adr in other_account_addresses %}
                <option value="{{adr}}">{{adr}}</option>
            {% endfor %}
            </select>
        </div>
    </div>
    <label>Amount:</label>
    <div class="grid grid-cols-3 gap-4">
        <div class="col-span-2">
            <input type="number" name="amount" value="100"/>
        </div>
    </div>
    <label>Message:</label>
    <div class="grid grid-cols-3 gap-4">
        <div class="col-span-2">
            <input name="message"/>
        </div>
        <div class="p-0">
            <div class="htmx-indicator"><span></span></div>
            <button type="submit">Transfer</button>
        </div>
    </div>
</form>

<div class="errors"></div>