<div class="overflow-x-auto">
    <h2>Last block details</h2>
    <table class="table table-zebra">
      <tbody>
        <tr>
          <th>Block&nbsp;number</th>
          <td>{{block_number}}</td>
        </tr>
        <tr>
          <th>Block hash</th>
          <td>{{block_hash}}</td>
        </tr>
        <tr>
            <th>Parent hash</th>
            <td>{{parent_hash}}</td>    
        </tr>
        <tr>
            <th>Block time</th>
            <td>{{block_time}}</td>    
        </tr>
        <tr>
            <th>Transactions</th>
            <td>{{transaction}}</td>
        </tr>
        <tr>
            <th>Gas used</th>
            <td>{{gas_used}}</td>
        </tr>
      </tbody>
    </table>
</div>
